@model List<OruBloggen.Models.NewsModel>

@{
    ViewBag.Title = "Home Page";
}
<body class="startpage" style="text-align:center;">
        <div class="welcomeScreen">
            <h1 style="margin-top:25px; word-wrap:break-word;">Välkommen till OruBloggen</h1>
        </div>

        <div class="homeView">
            @foreach(var news in Model)
            {
                <div class="homeViewItem">
                    <h4>@news.NewsTitle</h4>
                    <p>@news.NewsText</p>
                    <p style="font-size:x-small;">@news.NewsDate</p>
                </div>
            }
        </div>
</body>
