body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;

}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.two-col {
    overflow: hidden; /* Makes this div contain its floats */
}
.two-col .col1,
.two-col .col2 {
    width: 49%;
    }

.two-col .col1 {
    float: left;
    }

.two-col .col2 {
        float: right;
    }

.two-col label {
        display: block;
    }

.floatleft {
    float: left;
    width: 55%;
}

.images {
    width: 160px;
    height: 160px;
    background: #FFFFFF;
    margin: auto;
    -moz-border-radius: 60px;
    border-radius: 100px;
    padding: 6px;
    box-shadow: 0px 0px 20px #888;
}
.hover tr:hover
{
    background-color: black;
    Color: white;
}
.textSize
{
    font-size: 20px;
}

.Mydiv {
    width: 1000px;
    border: 1px solid #ccc;
    padding: 14px;
    background: #ececec;
}	





