body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;

}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.two-col {
    overflow: hidden; /* Makes this div contain its floats */
}
.two-col .col1,
.two-col .col2 {
    width: 49%;
    }

.two-col .col1 {
    float: left;
    }

.two-col .col2 {
        float: right;
    }

.two-col label {
        display: block;
    }

.floatleft {
    float: left;
    width: 55%;
}

.images {
    width: 100px;
    height: 100px;
    background: #FFFFFF;
    margin: auto;
    -moz-border-radius: 60px;
    border-radius: 100px;
    padding: 6px;
    box-shadow: 0px 0px 20px #888;
}

.hover tr:hover
{
    background-color: #888;
    Color: white;
}
.textSize
{
    font-size: 20px;
}

.adminView 
{
    text-align: center;
}

.adminviewItem 
{
    display: inline-block;
    width: 25%;
    margin: 15px;
    padding: 0px 15px;
    background-color: lightgrey;
}

.homeView {
    text-align: center;
}

.homeViewItem {
    display: inline-block;
    width: 25%;
    margin: 15px;
    padding: 0px 15px;
    background-color: white;

}


.postImgBlock {
    text-align: center;
}

.postImg {
    display: inline-block;
    width: 25%;
    height: 350px;
    padding: 5px;
}


.startpage {
    background-image: url('/Icons/oru.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -2;
}


body > div.container.body-content > form > table > tbody > tr:nth-child(1) > td:nth-child(1) {
    width: 1px;
}
#meeting-anvandare {
    display:-webkit-box;
}
.valja-anvandare {
    width:48%;
    float:left;
}
#remove, #add {
    margin-left: auto;
    font-weight:700;
}

.link::after, .link:active, .link:link, .link:visited, .link:hover, .link:active, .link:focus {
    
    border-color: #FFFFFF;
    background-color: #ff0000
}

#usersLb, #selectedUsersLb {
min-height: 82px;
}

body > div.container.body-content > form > div > div:nth-child(9) > label {
    margin-top: 23px;
}
body > div.container.body-content > form > div > div:nth-child(8) {
    margin-bottom: 0px;
}
.Mydiv {
    width: 1000px;
    border: 1px solid #ccc;
    padding: 14px;
    background: #ececec;
}	

.button1, button:focus {
    outline: 0;
    font-size: 14px;
    background-color: #FFFFFF;
    border: none;
    
}

