@model OruBloggen.Models.AllUsersViewModelcs
@{
    ViewBag.Title = "ShowAllUsers";
}

<h3>Hitta personal</h3>
@using (Html.BeginForm("ShowAllUsers", "AllUsers", FormMethod.Post))
{
    
    <input class="form-control" type="text" id="searchString" autocomplete="off" placeholder="Sök användare/arbetslag" style="margin-top:10px; margin-bottom:10px"/>

    <link rel="stylesheet" type="text/css" href="~/Content/Site.css" />
    <table class="table textSize">

        <tbody class="hover">


            @foreach (var item in Model.AllUsers)
            {
                <tr id="trhover" onclick="location.href = '@(Url.Action("ShowOtherUser" , "ProfilePage", new { id = item.UserID}))'">
                    <td>
                        <img src="/Images/@item.UserImagePath" class="images" />

                    </td>
                    <td>
                        @item.UserFirstname @item.UserLastname
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
@section Scripts {
<script>
    $(function () {
        $(document)
            .on("input", "#searchString", function () {
                listUsers();
            })

        function listUsers() {
            $.ajax({
                url: '/AllUsers/ListSearchedUsers',
                type: "get",
                dataType: "json",
                data: { searchString: $("#searchString").val() },
                success: function (data) {
                    $("#trhover").remove();
                    $("#trhover").append(data);
                }
            });
        }
    });
</script>
    }